/* Desktop version design start  */

@media (min-width: 1025px) {
    /* navigation bar design start */

    .navflex{
        display: flex;
    }
    nav > ul{
        display: flex;
    }
    nav li{
        list-style: none;
        margin-right: 2.5em;
    }
    nav li a{
        text-decoration: none;
        font-size: 23px;
        color: black;
    }
    .nav1{
        font-size: 23px;
        padding-right:34%;
        padding-top: 0.5em;
        margin-left: 4%;
    }
    .nav2{
        padding-left: 0%;
        padding-top: 2em;
    }

        /*navigation bar desing end */

        /* 1st section start */
    .flextwo{
        display: flex;
    }
    .introimg img{
        height: 87%;
        width:85%;
        padding-left: 50%;
        margin-top: 2em;
    }
    .fstsectext{
    font-size: 60px;
    padding-left: 1em;
    }
    .fstsecpragraph{
        font-size: 20px;
        padding-left: 10% ;
    }
    .fstsecbutton{
        margin-left: 10%;
        background-color: purple;
        color: aliceblue;
        height: 10%;
        width: 25%;
        border-radius: 7px;
        border-color: purple;
    }
        .fstsectextbutton{
        margin-top: 2%;
        width: 47%;
    }
    
        /* 1st section end */

        /* 2nd section start */
    .horizontalone{
     border: 1% solid gray;
     width: 80%;
     margin-top: 4%;
}

    .marketicon img{
     height:65px;
     width: 75px;
     padding-left: 30px;
     padding-top: 3%;
     margin-left: 71px;

}
    .thirdflex{
        display: flex;
    }
    .horizontalonetwo{
    border: 1% solid gray;
    width: 80%;

    }
        /* 2nd section end */


        /* 3rd section start */

        .thrdsectiontextone{
            font-size: 25px;
            text-align: center;
            padding-top: 2em
        }
        .forthflex{
            display: flex;
            margin-left: 0%;
        }
        .productimg{
            padding-left: %;
            padding-top: 2%;
            margin-left: 4em;
            margin-top:2em;
            border-radius: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),
            0 3px 6px rgba(0,0,0,0.23);

        }
        .starimg{
            padding-bottom : 20px;
        }
        .txtcenter{
            padding-left: 5%;
        }
        .secthreeonlytablet{
            display: none;
        }
      
        /* 3rd section end */ 
       
        /*4th section sart */

        .lastflex{
            display: flex;
        }
        .lastimg{
            padding-top: 70px;
            padding-left: 70px;
        }
        .lastsectionbox{
            padding-top: 100px;
            padding-left: 100px;
            word-wrap: break-word;
        }
        .lastparraghraphtgtb{
            font-size: 25px;
            width: 80%;
        }
        .lastbutton{
            margin-left: -5px;
            height: 34px;
            width: 130px;
        }

        /* 4th section end */

        /* 5th the last one start */

        .footer{
            background-color: black;
            color:whitesmoke;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 150px;
        }

        /* 5th the last one end */
}

/* Desktop version design end */

/* laptop version design start */

@media (min-width: 769px) and (max-width: 1024px) {
    /* navigation bar design start */

    .navflex{
        display: flex;
    }
    nav > ul{
        display: flex;
    }
    nav li{
        list-style: none;
        margin-right: 2.5em;
    }
    nav li a{
        text-decoration: none;
        font-size: 23px;
        color: black;
    }
    .nav1{
        font-size: 23px;
        padding-right:34%;
        padding-top: 0.5em;
        margin-left: 4%;
    }
    .nav2{
        padding-left: 0%;
        padding-top: 2em;
    }

        /*navigation bar desing end */

        /* 1st section start */
    .flextwo{
        display: flex;
    }
    .introimg img{
        height: 87%;
        width:85%;
        padding-left: 50%;
        margin-top: 2em;
    }
    .fstsectext{
    font-size: 60px;
    padding-left: 1em;
    }
    .fstsecpragraph{
        font-size: 20px;
        padding-left: 10% ;
    }
    .fstsecbutton{
        margin-left: 10%;
        background-color: purple;
        color: aliceblue;
        height: 10%;
        width: 25%;
        border-radius: 7px;
        border-color: purple;
    }
        .fstsectextbutton{
        margin-top: 2%;
        width: 47%;
    }
    
        /* 1st section end */

        /* 2nd section start */
    .horizontalone{
     border: 1% solid gray;
     width: 80%;
     margin-top: 4%;
}

    .marketicon img{
     height:65px;
     width: 75px;
     padding-left: 30px;
     padding-top: 3%;
     margin-left: 71px;

}
    .thirdflex{
        display: flex;
    }
    .horizontalonetwo{
    border: 1% solid gray;
    width: 80%;

    }
        /* 2nd section end */


        /* 3rd section start */

        .thrdsectiontextone{
            font-size: 25px;
            text-align: center;
            padding-top: 2em
        }
        .forthflex{
            display: flex;
            margin-left: 0%;
        }
        .productimg{
            padding-left: %;
            padding-top: 2%;
            margin-left: 4em;
            margin-top:2em;
            border-radius: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),
            0 3px 6px rgba(0,0,0,0.23);

        }
        .starimg{
            padding-bottom : 20px;
        }
        .txtcenter{
            padding-left: 5%;
        }
        .secthreeonlytablet{
            display: none;
        }
      
        /* 3rd section end */ 
       
        /*4th section sart */

        .lastflex{
            display: flex;
        }
        .lastimg{
            padding-top: 70px;
            padding-left: 70px;
        }
        .lastsectionbox{
            padding-top: 100px;
            padding-left: 100px;
            word-wrap: break-word;
        }
        .lastparraghraphtgtb{
            font-size: 25px;
            width: 80%;
        }
        .lastbutton{
            margin-left: -5px;
            height: 34px;
            width: 130px;
        }

        /* 4th section end */

        /* 5th the last one start */

        .footer{
            background-color: black;
            color:whitesmoke;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 150px;
        }

        /* 5th the last one end */
}


    /* laptop version design end */


    /* tablet and mobile screen roted version start */

    @media (min-width:481px) and (max-width:768px) {
        /* nav bar design start */

        .fsth2{
            text-align: center;
            padding-top: 30px;
            font-size: 30px;
        }
        nav > ul{
            display: flex;
    }
    nav li{
        list-style: none;
        margin-right: 2em;
    }
    nav li a{
        text-decoration: none;
        font-size: 17px;
        color: black;
    }

    /* nav bar design end */

    /* 1st section design start */

    .flextwo{
        display: flex;
    }

    .introimg img{
        height: 95%;
        width:85%;
        padding-left: 11%;
        margin-top: 0em;
    }
    .fstsectext{
        font-size: 25px;
        padding-left: 1em;
        height: 40px;

    }
    .fstsecpragraph{
        font-size: 11px;
        padding-left: 10% ;       
    }
    .fstsecbutton{
        margin-left: 10%;
        background-color: purple;
        color: aliceblue;
        height: 12%;
        width: 30%;
        border-radius: 7px;
        border-color: purple;
        font-size: 9px
    }
    .horizontalone{
        border: 1% solid gray;
        width: 80%;
        margin-top: 4%;
   }
   .marketicon img{
    height:18px;
    width: 30px;
    padding-left: 15px;
    padding-top: 3%;
    margin-left: 16px;

    }
    .thirdflex{
        display: flex;
    }
    .horizontalonetwo{
        border: 1% solid gray;
        width: 80%;
    
        }
        .thrdsectiontextone{
            font-size: 20px;
            text-align: center;
            padding-top: 20px;
        }
        .secthree{
            display: none;
        }
        .forthflex{
            display: flex;
            
        }
        .productimg{
            padding-left: %;
            padding-top: 2%;
            margin-left: 1.5em;
            margin-top:2em;

            border-radius: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),
            0 3px 6px rgba(0,0,0,0.23);

        }
        .txtcenter{
            padding-left: 5%;
        }



    /* tablet and mobile screen roted version end */


    /* 4th section start */

    .lastflex{
        display: flex;
    }
    .lastimg img{
        height: 120px;
        padding-top: 50px;
    }
    .lastsectionbox{
        padding-top: 30px;
        padding-left: 25px;
    }
    .lasrhonetagtb{
        font-size: 20px;
    }
    .lastparraghraphtgtb{
        font-size: 10px;
    }
    .lastbutton{
        margin-left: -2px;
    }
    /* 4th section end */


    /* 5th section start */

    .footer{
        background-color: black;
        color:whitesmoke;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 150px;
        height: 45px;
    }
    .footerhthree{
        font-size: 16px;
        margin-top: -8px;
    }
    .footerparagrph{
        font-size: 10px;
        margin-top: -7px;
    }

    /* 5th section end */
}